<h3>Mark Attendance</h3>

<form method="POST">
  <input type="date" name="date" class="form-control mb-3" required>

  {% if students %}
    <table class="table table-bordered">
      <tr>
        <th>Roll</th>
        <th>Name</th>
        <th>Status</th>
      </tr>

      {% for s in students %}
      <tr>
        <td>{{ s.roll_number }}</td>
        <td>{{ s.name }}</td>
        <td>
          <select name="status_{{ s.id }}" class="form-select">
            <option value="Present">Present</option>
            <option value="Absent">Absent</option>
          </select>
        </td>
      </tr>
      {% endfor %}
    </table>

    <button class="btn btn-primary">Submit Attendance</button>
  {% else %}
    <p>No students found.</p>
  {% endif %}
</form>
